.App {
  /* text-align: center; */
  min-height: 100vh;
  background-color: bisque;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  padding-top: 20px;
}
.todo-container{
  padding: 30px;
  width: 30%;
  min-width: 300px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: gray 1px 1px 5px;
}

.task-done{
  text-decoration: line-through;
}

.add-task-input{
  display: none;
  width: 0!important;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.add-task-input.show{
  display: block;
}
.add-task-input.active{
  width: 58.3333333333%!important;
}
.add-task-input.fading{
  opacity: 0;
  padding: 0;
}